<% if notification.second_target.present?   %>
    <p class="white"><strong><%=notification.actor.email %></strong> has commented on your post <strong>'<%=  notification.second_target.title%>'</strong>. </p>
  <% else %>
  <p class="white"> <strong><%=notification.actor.email %></strong> has deleted the comment or the post has been deleted </p>

<% end %>


