*{
    font-family: 'Poppins', sans-serif;
}
h2{
    color: white;
}
.comment-form{
    margin-top: 150px;
}
.white{
    color: white;
}
.whiteBnt{
    filter: invert(1);
} 
.fa-heart{
    width: 30px;
}
.comment-margin{
    margin: 0px 300px;
}
body{
    background-color: #111;
}
.profilePicture{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
.profilePictureShow{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px 5px;
}
.noDecoration{
    text-decoration: none;
    color: white;
    text-decoration: none;
}
.content .contCommentValues{
    margin-top: 0 !important;
}
.content .blueButton{
    border: none;
    background: #0643c7;
    padding: 8px 24px;
    margin-top: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.textArea::-webkit-scrollbar {
    width: 4px;
}

.textArea::-webkit-scrollbar-thumb {
    background: #616161;
    height: 100px;
    width: 15px;
    border-radius: 15px;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(87, 87, 87);
    border-radius: 10px;
    height: 100px;
}
.top-navbar{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    z-index: 99;
    position: fixed;
    top: 0;
    backdrop-filter: blur(40px);
    background-color: #111;
    opacity: 0.95;
    box-shadow: 5px 1px #88888802;
}
.top-navbar .img{
    width: 75px;
    margin-top: 1em;
}
.navbar{
    background-color: #111 !important; 
}
.top-navbar .img:hover{
    scale: 1.08;
}
.cont{
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0px 30px;
    z-index: 1;
    margin-bottom: 65px;
    margin-top: 50px;
    width: 1000px;
    height: 100%;
}

.contComment{
    padding: 0px 30px;
    z-index: 1;
    margin-bottom: 75px;
    margin-top: 30px;
    width: 1000px;
    height: 100%;
}
.content{
    background-color: #111;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content .cont .posts .user-info{
    display: flex;
}
.content .cont .posts .user-info .name-post{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.content .cont .posts .user-info .name-post .user-name{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
}
.content .cont .posts .user-info .name-post .user-post{
    color: white;
    font-weight: 300;
    line-height: 25px;
    font-size: 18px;
    margin-top: -12px;
}
.content .cont .posts .user-info .image{
    margin: 10px 0px;
}
.user-post-image{
    width: 800px;
    height: 400px;
    margin: 20px 50px;
    overflow: hidden;
}
.user-post-image .post-image{
    width: 900px;
}
.showPost-image{
    width: 100%;
    height: auto;
}
.name-time{
    display: flex;
    width: 800px;
    justify-content: space-between;
}
.name-time p {
    color: rgba(255, 255, 255, 0.39);
    margin-top: 5px;
}

/* Top */
.contNew{
    z-index: 1;
    margin-top: 130px;
    width: 1000px;
    height: 100%;
}
.contNewComment{
    z-index: 1;
    width: 1000px;
}
.user-details{
    display: flex;
    align-items: center;
}
.textArea{
    width: 100%;
    height: 220px;
    padding: 12px 12px;
    border: 0;
    border-bottom: 2px solid rgb(219, 219, 219);
    background-color: transparent;
    color: white;
    overflow-y: scroll;
    resize: none;
}
.textAreaComment{
    width: 80%;
    border: 0;
    height: 50px;  
    border-bottom: 2px solid rgb(219, 219, 219);
    background-color: transparent;
    color: white;
    overflow-y: scroll;
    resize: none;
}
.textArea:focus{
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
}
.textAreaComment:focus{
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
}
.user-details p {
    color: white;
    margin-top: 15px;
}
input[type=file]{
    color: white;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #0643c7;
    padding: 6px 20px;
    margin-top: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
  input[type=file]::file-selector-button:hover{
    background: #0643c7;
  }

  /* Login SignUp path */
  
.form-image{
    animation: animate 0.7s ease-in ;
}
@keyframes animate {
    0%,100%{
        -webkit-transform: scaleX(-1);
    }
    50%{
        -webkit-transform: scaleX(1);
    }
    
}
.show-margin{
    margin-top: 100px;
}
/* alert */


.alert{
    margin-top: 100px !important;
    position: absolute;
    top: 0;
    right: 0;
}

li{
    list-style: none;
    color: red;
}
/* Bottomnavbar--------------------------------------------- */
.search-form{
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 12px;
}
  .altmenu {
    width: 100%;
    background: rgba(0, 0, 0, 0.179);
    position: fixed;
    z-index: 999;
    bottom:0px;
    opacity: 0.95;
    backdrop-filter: blur(10px);
  }
  .altmenu ul {
    padding: 0;
    margin: 0;
  }
  .altmenu ul li {
    display: inline-block;
    width: 20.04%;
    margin-left: -4px;
  }
  .altmenu ul li a {
    position: relative;
    display: block;
    padding: 10px 80px;
    text-align: center;
    font-size: 30px;
    color:#ffffff;
    background: #111;
  
    transition: 300ms;
  }
  .altmenu ul li a:hover {
    scale: 1.1;
  }
  @media (max-width: 930px) {
    .altmenu ul li a {
      padding: 10px 10px;
    }
  }
  /* UserDiscoverPage------------------------------------- */
  .backIcon{
    position: absolute;
    margin-top: 100px;
    color: white;
    margin-bottom: 65px;
    padding: 0px 30px;
    cursor: pointer;
  }
.searchForm{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.search-form{
    width: 800px;
    padding: 38px 40px;
    background-color: #111;
    color: white;
    border: 0;
    font-size: 20px;
}